* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.1em;
}
body {
  font-family: 'Open Sans';
  font-size: 16px;
}
.clearfix:after {
  content:"";
  display:block;
  clear:both;
}
div {
  padding: 0 10vw 0 10vw;
}
.header {
  background-image: url("warzone.jpg");
  background-size: cover;
  min-height: 100vh;
  height: auto;
  text-align: center;
}
.small {
  min-height: 4em;
  height: auto;
}
.header h1 {
  float: left;
  font-family: 'Black Ops One';
  color: rgb(255, 145, 0);
  font-size: 3.5em;
  font-weight: 300;
}
.header nav {
  float: right;
}
.header nav a {
  color: white;
  font-family: 'Open Sans';
  font-size: 1.2em;
  display: inline-block;
  padding: 1em;
}
.header nav a:hover {
  background-color: rgba(255, 145, 0, 0.8);
}
.header h3 {
  font-weight: normal;
  color: white;
  font-size: 2em;
  text-align: center;
  padding-top: 40vh;
}
#header-button {
  display: inline-block;
  margin: 1em;
  padding: 0 1em 0 1em;
  color: white;
  font-size: 1.5em;
  border: white solid 3px;
}
#header-button:hover {
  background-color: white;
  color: black;
}
.information-section {
  min-height: 100vh;
  height: auto;
  background-color: #eee;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.information-section h2 {
  font-size: 3em;
  color: orange;
}
.information-section p {
  font-size: 1.5em;
}
.info {
  min-height: 100vh;
  height: auto;
  background-color: #2b2b2b;
  padding-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
.info p {
  font-size: 1.5em;
  color: white;
}

.game-types {
  min-height: 100vh;
  height: auto;
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:0;
  padding-top: 20px;
}
.game-types h1 {
  text-align: center;
  color: white;
  font-size: 3em;
  padding-bottom: 30px;
}
.game-types svg {
  margin: 20px;
  float: left;
  width: 10vw;
  height: 10vw;
  padding: 10px;
  border: white 3px solid;
  border-radius: 50%;
}
.st0 {
  fill: white;
}
.game-types h3 {
  color: white;
  padding-top: 20px;
  font-size: 1.5em;
}
.game-types p {
  color: #2b2b2b;
  font-size: 1.2em;
  padding-top: 20px;
}


.footer {
  min-height: 250px;
  height: auto;
  background-color: #111;
  padding-top: 20px;
}
.footer iframe {
  float: left;
  padding: 0 30px 0 30px;
}
.footer p {
  color: white;
  padding-top: 5px;
}
.details {
  padding: 100px;
  background-color: #efefef;
}
.details h2 {
  letter-spacing: 0.05em;
  display: block;
  color: orange;
  font-size: 36px;
  padding: 0 0 40px 0;
}
.details p {
  float: left;
  color: black;
  padding-bottom: 1em;
  font-size: 21px;
}
.details p span {
  font-weight: bold;
  padding-left: 20px;
  color: orange;
}
.camping-map {
  background-image: url("park-map.png");
  height: 100vh;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
.info h2 {
  font-size: 40px;
  color: orange;
}
.details iframe {
  float: right;
}
form {
  float: left;
  font-size: 21px;
}
form * {
  padding: 2px;
  line-height: 21px;
  margin: 20px 0 20px 0;
  outline: solid grey 1px;

}
form *:focus {
  outline: solid orange 1px;
}
